<ng-container>
  <div id="song-container-main" class="songcontainer-main">
    <header>{{bollyName$ | async}}</header>
    <div style="display: flex; flex-flow: column nowrap; align-items: center; width: 100%">
      <app-tags-list [tags]="tags$ | async"></app-tags-list>
    </div>
    <br>


    <div id="song-container-text" class="song-container-text">

      <div [innerHtml]="plainHtml$ | async"></div>

    </div>

    <div class="clickable-dictionary-redirect">
      <div>Click here for a <a routerLink="{{this.clickableDictionaryLink}}" routerLinkActive="active">Full Clickable Dictionary View</a>  of the song, where you can click on each word to obtain a definition</div>
      <br/>
      <button (click)="navigateToClickableDictionary()">Full Dictionary View</button>
    </div>

  </div>

</ng-container>
