.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  //width: 50%;selector-main-container
  width: 400px;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  //border: 1px solid blue;


}

.selector-main-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  //border: 1px solid orange;
  height: 40px;

}

.selection-type-list.mat-select-panel {
  max-height: 1000px;
}

mat-option {
  height: 35px;
  //padding-left: 2px;
}

.example-full-width input {
  flex: 1 0 100%;
}


.search-input {
  background-color: white;
  border-radius: 0 3px 3px 0;
  //font-size: large;
  //box-sizing: border-box;
  flex: 1 0 200px;
  max-width: 200px;
  height: 35px;
  border: 1px solid #ddd;
  border-left-color: transparent !important;
  border-left: 0;
}

//.v-align-middle {
//  vertical-align: middle;
//}

.magnifier-container {
  height: 36px;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  padding-top: 1px;
  border: 1px solid #ddd;
  border-radius: 3px 0 0 3px;
  margin-right: -1px;
}

.magnifier-container .mat-icon {
  width: 32px;
  padding-top: 5px;
  height: 30px;
  padding-left: 5px;
}

mat-select {
  padding-left: 7px;
  width: 30px;
  max-width: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

}

.search-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 5px;
  border: 1px solid darkgrey;
  padding: 5px;
  min-width: 47px;
  width: 47px;
  height: 47px;
  margin-left: 3px;
  //margin-top: 1px;
}

.label-search-type {
  margin-left: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-radius: 5px 0 0 5px;
  padding: 5px;
  cursor: pointer;
  flex: 0 1 70px;
  min-width: 70px;
}

/*** To change the arrow color ****/
//.mat-select-arrow {
//  border-top: 5px solid rgb(10, 73, 99);
//}

.mat-select-trigger {
  height: 100%;
}


/** https://stackoverflow.com/questions/51445514/change-mat-select-arrow-icon **/
.mat-select-arrow-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}

.mat-select-value {
  min-width: 60px;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 35px;
  display: inline-block;
  text-align: center;
}

.mat-select-value-text {
  color: rgba(0, 0, 0, .88);
  flex: 1 0 20px;
  font-weight: 600;
  font-size: 14px;
}

input#searchInputText:focus {
  outline: 0;
}

div#searchSelectType-panel {
  font-size: 14px !important;
  transform: none !important;
}

@media (min-width: 742px) and (max-width: 900px) {
  .mat-select-value-text {
    display: inline-block;
    height: 35px;
    line-height: 38px;
  }
}

@media (min-width: 742px) and (max-width: 900px) {
  /*app-selector.ng-star-inserted {
    position: relative;
    top: -60px;
    left: 125px;
  }*/
  .mat-select-value-text {
    display: inline-block;
    height: 35px;
    line-height: 38px;
  }
}

@media only screen and (max-width: 767px) {
  .mat-select-value-text {
    display: inline-block;
    height: 35px;
    line-height: 38px;
  }
}

